In [1]:
import numpy as np
import h5py
import pandas as pd
import seaborn as sns
import seaborn.objects as so
import matplotlib as plt

In [3]:
hf = h5py.File("SPICE_db.hdf5", "r")

In [5]:
df = pd.DataFrame(np.array(hf))
df.head()
display(df)

               0
0      103147721
1      103147756
2      103914790
3      103914864
4      103914895
...          ...
19233    val-ser
19234    val-thr
19235    val-trp
19236    val-tyr
19237    val-val

[19238 rows x 1 columns]

In [ ]:
conformer_list = []
for i in range(len(aa_keys)):
    temp_df = pd.DataFrame(np.array(hf[aa_keys[i]]["dft_total_energy"]))
    temp_list = list(temp_df[0])
    conformer_list.append(temp_list)